<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.c196tracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddTermDialog" />
        <activity android:name=".AddCourseDialog" />
        <activity android:name=".AddAssessmentDialog" />
        <activity android:name=".AssessmentDetails" />
        <activity android:name=".TermDetails" />
        <activity android:name=".CourseDetails" />
        <activity android:name=".NotesActivity" />
        <activity android:name=".CoursesActivity" />
        <activity android:name=".TermsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>